<% if @quote.present? %>
    <div class="card mt-4">
        <div class="card card-header">
            <h4>Current Quote</h4>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Symbol: </strong><%= @quote.first['symbol'] %></li>
            <li class="list-group-item"><strong>Name: </strong><%= @quote.first['name'] %></li>
            <li class="list-group-item"><strong>Price: </strong>$<%= @quote.first['price'] %></li>
            <%= button_to "Add to your portfolio", user_stocks_path(ticker: @quote.first['symbol']), method: :post, class: "btn btn-outline-success mt-1" %>
        </ul>
    </div>
<% end %>